<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm6OAp0OfHevyjdtSyWJe1mmNuJDv5S2o</string>
	<key>GCM_SENDER_ID</key>
	<string>870702312577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmiCalculater</string>
	<key>PROJECT_ID</key>
	<string>bmi-calculate-94cee</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-calculate-94cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870702312577:ios:b3235d00cc589301227180</string>
</dict>
</plist>